<div class="m-3 border card-body box-med-shadow row bg-gray">
    <article class="m-auto text-center">
        <h2 class="h5">fujicoin.conf</h2>
        <hr />
        <ul class="text-left">
            <li>rpcuser=YourUsername</li>
            <li>rpcpassword=YourPassword</li>
            <li>rpcallowip=127.0.0.1</li>
            <li>server=1</li>
            <li>rpcport=3776</li>
            <li>port=3777</li>
            <li>addnode=</li>
        </ul>
        <hr />
        <h3 class="text-danger">{{ 'mining.basic.text1'|trans }}</h3>
        <p>{{ 'mining.basic.text2'|trans }}</p>
        <p>{{ 'mining.basic.text3'|trans }}</p>
        <p>{{ 'mining.basic.text4'|trans }}</p>
    </article>
</div>