<div class="m-3 border box-med-shadow card-body bg-gray">
    <h3><a href="https://github.com/tpruvot/cpuminer-multi/releases" target="_blank">{{ 'mining.cpu_mining.text1'|trans }}</a></h3>
    <hr />
    <p>cpuminer-***.exe -a scrypt:2048 -o stratum+tcp://cryptogrinder.com:5008 -u FfU8MXPHGsYQY4WAufh54nBB9WgTFzf7oN -p anything</p>
</div>