{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'fujicoin_fundation.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'fujicoin_fundation.title'|trans} %}
    <div class="container">
        <div class="row">
            <div class="card box-med-shadow bg-light col-12 m-auto bg-gray">
                <article class="card-body">
                    <h2 class="h3 card-title">{{ 'fujicoin_fundation.bright_futur.title'|trans }}</h2>
                    <hr />
                    <p class="p-3 card-text">{{ 'fujicoin_fundation.bright_futur.text1'|trans }}<p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}