<div class="row m-3 justify-content-center bg-wave">
    <article class="bg-gray opacity-09 card-body m-auto col-lg-5 border">
        <h2 class="h5 card-title">{{ 'what_is_fujicoin.s_curve.title'|trans }}</h2>
        <hr />
        <div class="card-text text-left">
            <p>{{ 'what_is_fujicoin.s_curve.text1'|trans }}</p>
            <p>{{ 'what_is_fujicoin.s_curve.text2'|trans }}</p>
            <hr />
            <p>{{ 'what_is_fujicoin.s_curve.text3'|trans }}</p>
            <p>{{ 'what_is_fujicoin.s_curve.text4'|trans }}</p>
        </div>
    </article>
    <div class="card-body col-12 col-lg-7">
        <img class="card-img" src="{{ asset('build/icon/basic/supply_curve.png') }}" alt="Supply curve of FujiCoin">
        <div class="row justify-content-center">
            <img class="m-2 img-zoom img-border" src="{{ asset('build/icon/basic/totalcoin1.png') }}" width="120" alt="FujiCoin total coin #1">
            <img class="m-2 img-zoom img-border" src="{{ asset('build/icon/basic/totalcoin2.png') }}" width="120" alt="FujiCoin total coin #2">
            <img class="m-2 img-zoom img-border" src="{{ asset('build/icon/basic/blockreward1.png') }}" width="120" alt="FujiCoin block reward #1">
            <img class="m-2 img-zoom img-border" src="{{ asset('build/icon/basic/blockreward2.png') }}" width="120" alt="FujiCoin block reward #2">
        </div>
    </div>
</div>