{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'terms_of_use.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'terms_of_use.title'|trans} %}
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12">
                <div class="card box-med-shadow bg-light mb-4 opacity-09" style="background-image: url({{ asset('build/background/empty.png') }})">
                    <div class="card-body text-left">
                        <p class="card-text">{{ 'terms_of_use.text1'|trans }}</p>
                        <hr />
                        <p class="card-text">{{ 'terms_of_use.text2'|trans }}</p>
                        <hr />
                        <p class="card-text">{{ 'terms_of_use.text3'|trans }}</p>
                        <hr />
                        <p class="card-text">{{ 'terms_of_use.text4'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}