{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'where_to_spend.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'where_to_spend.title'|trans} %}
    <div class="container-fluid pb-5 text-center">
        <div class="row">
            <div class="card box-med-shadow bg-light col-12 col-lg-8 m-auto bg-gray">
                <article class="card-body">
                    <h2 class="h3 card-title">{{ 'where_to_spend.bright_futur.title'|trans }}</h2>
                    <hr />
                    <p class="card-text">{{ 'where_to_spend.bright_futur.text1'|trans }}<p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}