<footer class="text-center border-top bg-light-blue">
    <div class="container">
        <div class="row justify-content-md-center">
            <p class="col-md-auto" style="margin-bottom: 0px; margin-top: 1rem;"><a href="mailto: fujicoin@yahoo.com">{{ 'footer.contact'|trans }}</a></p>
            <p class="col-md-auto" style="margin-bottom: 0px; margin-top: 1rem;"><a href="{{ path("terms_of_use") }}">{{ 'footer.terms_of_use'|trans }}</a></p>
            <p class="col-md-auto" style="margin-bottom: 0px; margin-top: 1rem;"><a href="{{ path("privacy_policy") }}">{{ 'footer.privacy_policy'|trans }}</a></p>
        </div>
        <hr />
        <div class="row pb-3">
            <p class="m-auto">{{ 'footer.copyright'|trans }} 2014-{{ "now"|date("Y") }} | fujicoin.org | {{ 'footer.detail_copyright'|trans }}</p>
        </div>
    </div>
</footer>