<div class="col-sm-12 m-auto col-lg-3 p-2 opacity-09 p-0">
    <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://coinmarketcap.com/currencies/fujicoin/" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/market/coinmarketcap.png') }}" width="66" alt="CoinMarketCap logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3 card-title">{{ 'buy_fujicoin.market_price.coinmarketcap.title'|trans }}</h2>
            <p class="card-text">{{ 'buy_fujicoin.market_price.coinmarketcap.text1'|trans }}</p>
        </article>
    </a>
</div>
<div class="col-sm-12 m-auto col-lg-3 p-2 opacity-09 p-0">
    <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://www.coingecko.com/en/coins/fujicoin" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/market/coingecko.jpeg') }}" width="66" alt="CoinGecko logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3 card-title">Coingecko</h2>
            <p class="card-text">{{ 'buy_fujicoin.market_price.coinmarketcap.text1'|trans }}</p>
        </article>
    </a>
</div>
<div class="col-sm-12 m-auto col-lg-3 p-2 opacity-09 p-0">
    <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://coinpaprika.com/coin/fjc-fujicoin/" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/market/coinpaprika.jpeg') }}" width="66" alt="CoinPaprika logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3 card-title">CoinPaprika</h2>
            <p class="card-text">{{ 'buy_fujicoin.market_price.coinmarketcap.text1'|trans }}</p>
        </article>
    </a>
</div>
<div class="col-sm-12 m-auto col-lg-3 p-2 opacity-09 p-0">
    <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://nomics.com/assets/fjc-fujicoin" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/market/nomics.jpg') }}" width="66" alt="Nomics logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3 card-title">Nomics</h2>
            <p class="card-text">{{ 'buy_fujicoin.market_price.coinmarketcap.text1'|trans }}</p>
        </article>
    </a>
</div>