{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'download.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'download.title'|trans} %}
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 col-lg-9 m-auto">
                <p class="border border-secondary p-2 bg-light opacity-09">
                    <button class="m-1 btn btn-light border box-med-shadow" type="button" data-toggle="collapse" data-target="#CollapseItemElectrum" aria-expanded="false" aria-controls="CollapseItemElectrum">{{ 'download.electrum.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemCore" aria-expanded="false" aria-controls="CollapseItemCore">{{ 'download.core.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemRaw" aria-expanded="false" aria-controls="CollapseItemRaw">{{ 'download.raw_blockchain.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemArtwork" aria-expanded="false" aria-controls="CollapseItemArtwork">{{ 'download.artwork.title'|trans }}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0 col-lg-12 m-auto">
                {# Do a loop to include each category of the download page #}
                {% for item in download %}
                    <div class="p-0 bg-light collapse {% if item == "electrum" %}show{% endif %}" id="CollapseItem{{ item|capitalize }}">
                        <div class="bg-light card box-med-shadow border">
                            <div class="p-md-5 card-body text-center justify-content-center bg-wave">
                                {% include 'get_started/download/include/'~ item ~ '.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 py-3 m-auto">
                <div class="card box-med-shadow alert-danger mt-5">
                    <article class="card-body">
                        <h1 class="h5 card-title">{{ 'download.disclaimer.title'|trans }}</h1>
                        <hr />
                        <p class="card-text">{{ 'download.disclaimer.text1'|trans }}</p>
                        <p class="card-text">{{ 'download.disclaimer.text2'|trans }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}