<a class="col-12 col-lg-4 text-decoration-none box-med-shadow bg-white card h-100" href="https://atomicdex.io/" target="_blank">
    <img class="card-img-top" src="{{ asset('build/icon/market/atomicdex.png') }}" width="233" alt="AtomicDEX logo"/>
    <article class="card-body">
        <hr />
        <h2 class="h3">{{ 'wallet.dex.atomic.title'|trans }}</h2>
        <hr />
        <p>{{ 'wallet.dex.atomic.text1'|trans }}</p>
    </article>
</a>