{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'node.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {
        'title': 'node.title'|trans,
        'content': 'node.text1'|trans} %}
    <div class="container pb-5">
        <div class="row justify-content-around bg-gray-cover">
            <table class="table table-bordered box-med-shadow m-0">
                <thead class="bg-ghostwhite">
                <tr>
                    <th scope="col">{{ 'node.address'|trans }}</th>
                    <th scope="col">{{ 'node.port'|trans }}: 3777 {{ 'node.status'|trans }}</th>
                    <th scope="col">{{ 'node.subversion'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in peers_info %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value[0] }}</td>
                        <td>{{ value[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}