{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'press.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'press.title'|trans } %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="card box-med-shadow bg-light col-12 col-xl-3 m-3 bg-gray">
                <article class="card-body">
                    <h2 class="h2 card-title">{{ 'press.press_inquiries.title'|trans }}</h2>
                    <hr />
                    <p class="card-text">{{ 'press.press_inquiries.text1'|trans }} <a href="mailto:fujicoin@yahoo.com">fujicoin@yahoo.com</a>.</p>
                </article>
            </div>
            <div class="card box-med-shadow bg-light col-12 col-xl-5 m-3 bg-gray">
                <article class="card-body">
                    <h2 class="h2 card-title">{{ 'press.promotional.title'|trans }}</h2>
                    <hr />
                    <p class="card-text">{{ 'press.promotional.find_them1'|trans }} <a href="{{ path('promotional_graphics') }}">{{ 'press.promotional.here'|trans }}</a>{{ 'press.promotional.find_them2'|trans }}</p>
                </article>
            </div>
            <div class="card box-med-shadow bg-light col-12 col-xl-3 m-3 bg-gray">
                <article class="card-body">
                    <h2 class="h2 card-title">{{ 'press.intro.title'|trans }}</h2>
                    <hr />
                    <p class="card-text">{{ 'press.intro.find_it1'|trans }} <a href="{{ path('what_is_fujicoin') }}">{{ 'press.intro.here'|trans }}</a>{{ 'press.intro.find_it2'|trans }}</p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}