{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'promotional_graphics.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'promotional_graphics.title'|trans} %}
    <div class="container text-center">
        <div class="row">
            <div class="card box-med-shadow bg-light col-12 col-md-6 m-auto bg-gray">
                <article class="card-body">
                    <h2 class="h3 card-title">{{ 'promotional_graphics.graphics_kit'|trans }}</h2>
                    <hr />
                    <p class="card-text">{{ 'promotional_graphics.get_graphics1'|trans }}<a href="{{ asset('build/fujicoin_newlogo.zip') }}">{{ 'promotional_graphics.here'|trans }}</a>{{ 'promotional_graphics.get_graphics2'|trans }}<p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}