<div class="border text-left box-med-shadow p-3 bg-gray-cover">
    <p>{{ 'download.electrum.text1'|trans }}</p>
    <hr />
    <h5>{{ 'download.electrum.text2'|trans }}</h5>
    <p class="pt-4">{{ 'download.electrum.text3'|trans }}</p>
    <p>{{ 'download.electrum.text4'|trans }}</p>
    <p><a href="https://github.com/fujicoin/electrum/blob/fujicoin-v4.1.4/RELEASE-NOTES" target="_blank">{{ 'download.electrum.text5'|trans }}</a></p>
    <div class="row m-auto justify-content-center">
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/electrum-FJC-4.1.4/Windows/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/windows.png') }}" alt="Windows logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.windows.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.windows.text1'|trans }}</p>
                    <p>{{ 'download.electrum.windows.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/electrum-FJC-4.1.4/" target="_blank">
                <div class="card-img-top">
                    <img src="{{ asset('build/icon/brand/apple.png') }}" width="66" alt="Apple logo"/>
                    <img src="{{ asset('build/icon/brand/linux.png') }}" width="66" style="padding-top: 12px;" alt="Linux logo"/>
                </div>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.apple.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.apple.text1'|trans }}</p>
                    <p>{{ 'download.electrum.apple.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://play.google.com/store/apps/details?id=org.electrum_fjc.electrum_fjc" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/google-play-badge.png') }}" alt="Android logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.android.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.android.text1'|trans }}</p>
                    <p>{{ 'download.electrum.android.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://github.com/fujicoin/electrum" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/Octocat.png') }}" alt="Github logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.github.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.github.text1'|trans }}</p>
                </article>
            </a>
        </div>
    </div>
</div>